/*
1em = 16px
1.6rem = 16px
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700;1,900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 16px */
  font-family: 'Lato', sans-serif;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #F6F7FB;
  font-size: 1.6rem;
}

#root {
  position: relative;
}

.navbar {
  background-color: #161616;
  height: 100vh;
  width: 240px;
  color: white;
  padding: 6rem;
  font-size: 2rem;
  font-weight: 900;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-list li {
  list-style-type: none;
  text-decoration: none;
  padding-bottom: 2.5rem;
  cursor: pointer;
  letter-spacing: 0.3rem;
}

.heading-h1 {
  margin-top: 6.05rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
  /* width: 23%; */
  background-color: #202020;
  color: white;
  padding: 1rem 5rem;
  /* border-radius: 5rem; */
  align-self: self-end;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
  display: flex;
}

.heading-title,
.launches,
.render-category-view,
.whoops,
.sort-filter,
.rockets-section {
  margin-left: 28rem;
  margin-bottom: 2rem;
  display: flex;
}

.content-section {
  display: flex;
  flex-wrap: wrap;
  width: 50rem;
  margin-left: 30rem;
}

.item-container {
  padding: 1.5rem 0 0 2rem;
  display: flex;
  background-image: linear-gradient(270deg, #ffffff 100%, #363636 0%);
  flex-direction: column;
  width: 44.1rem;
  height: auto;
  margin: 2rem 5rem 2rem -2rem;
  /* box-shadow: 2px 2px 5px -3px #000000; */
  /* border: 3px solid #363636; */
  border-radius: 2rem;
}

.item-name {
  font-weight: 900;
  font-size: 2rem;
  font-family: 'Lato';
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #363636;
}

.mission-patch-small {
  margin-right: 2rem;
}

span.mission-patch-small img {
  width: 5rem;
  height: auto;
  filter: grayscale(0) opacity(0.3);
}

.loader {
  margin-left: 35rem;
}

.sort-filter {
  display: flex;
}

.sort-by {
  background-color: white;
  /* color: white; */
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Lato';
  letter-spacing: 0.1rem;
  margin-right: 3rem;
  align-self: center;
  border-radius: 5rem;
  padding: 1rem 3rem;
}

.filter-options {
  display: flex;
  list-style: none;
  cursor: pointer;
}

.filter-options li:hover {
  background-color: #202020;
  color: white;
}

.filter-options li {
  margin-right: 1rem;
  align-self: flex-end;
  background-color: white;
  color: #202020;
  padding: 0.76rem 3rem;
  /* font-size: 1.5rem; */
  align-self: center;
  font-weight: 900;
  font-family: 'Lato';
  letter-spacing: 0.1rem;
  /* border: 5px solid #202020; */
  padding: 1rem 3rem;
  border-radius: 5rem;
}

.launch-details {
  display: flex;
  margin-top: -0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.rocket-details {
  display: flex;
  margin-left: 0.5rem;


}

.rocket,
.launch-year,
.launch-success {
  background-color: #363636;
  padding: 0.5rem 1rem;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5rem;
  font-size: 1.03rem;

}

.rocket {
  padding-left: 1rem;
  margin-right: 1rem;
  border-radius: 2rem;
  background-color: #9e9e9e;
}

.launch-year {
  border-radius: 2rem;
  padding-left: 1rem;
  background-color: #9e9e9e;
}

.item-details {
  padding: 1rem 4rem 3rem 0.5rem;
  font-size: 1.4rem;
  line-height: 1.9rem;
  text-align: justify;
}