/*
1em = 16px
1.6rem = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 16px */
  font-family: "Lato", sans-serif;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f6f7fb;
  font-size: 1.6rem;
}

#root {
  position: relative;
  display: flex;
  /*overflow-x: hidden;*/
}

.navbar {
  background-color: #161616;
  height: 100vh;
  width: 240px;
  color: white;
  padding: 6rem;
  font-size: 2rem;
  font-weight: 900;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-list li {
  list-style-type: none;
  text-decoration: none;
  padding-bottom: 2.5rem;
  cursor: pointer;
  letter-spacing: 0.3rem;
}

.heading-h1 {
  margin-top: 6.05rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
  background-color: #202020;
  color: white;
  padding: 1rem 5rem;
  align-self: self-end;
  display: flex;
}

.heading-title,
.launches,
.render-category-view,
.whoops,
.sort-filter,
.rockets-section,
.temporary-rocket-full {
  margin-left: 28rem;
  margin-bottom: 2rem;
  display: flex;
}

.full-details-view {
  top: 0rem;
  left: 78rem;
  /* z-index: 999; */
  width: 40%;
  /* flex-direction: column; */
  position: sticky;
  text-align: justify;
  /* background-color: white; */
  /* padding: 3rem; */
  /* height: 65vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* box-shadow: 1px 1px 7px -6px #000000; */
  height: 0;
}



.detail-list {
  visibility:hidden;
}

.full-selected {
  background-color: white;
  padding: 3rem 3.5rem 3.5rem 3.5rem;
  box-shadow: 1px 1px 7px -6px #000000;
  list-style-type:none;
}

.content-section {
  display: flex;
  flex-wrap: wrap;
  width: 50rem;
  margin-left: 30rem;
}

.item-container {
  padding: 1.5rem 0 1.5rem 2rem;
  display: flex;
  background-image: linear-gradient(270deg, #ffffff 100%, #363636 0%);
  flex-direction: column;
  width: 75rem;
  min-height:5rem;
  margin: 2rem 5rem 2rem -2rem;
  box-shadow: 1px 1px 7px -6px #000000;
  cursor:pointer;
}

.name {
  font-weight: 900;
  font-size: 2rem;
  font-family: "Lato";
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #363636;
}

.mission-patch-small {
  margin-right: 2rem;
}

span.mission-patch-small img {
  width: 5rem;
  height: auto;
  filter: grayscale(0) opacity(0.3);
}

.loader {
  margin-left: 35rem;
}

.sort-filter {
  display: flex;
  margin-left: 27rem !important;
}

.sort-by {
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Lato";
  letter-spacing: 0.1rem;
  margin-right: 3rem;
  align-self: center;
  margin-bottom: 5px;
  font-size: 1.7rem;
}

.filter-options {
  display: flex;
  list-style: none;
  cursor: pointer;
}

.filter-options li:hover {
  color: #424242;
}

.filter-options li {
  margin-right: 1rem;
  color: #202020;
  font-size: 1.7rem;
  align-self: center;
  font-weight: 900;
  font-family: "Lato";
  letter-spacing: 0.1rem;
  padding: 0.5rem;
}

.filter-options li[aria-selected] {
  border-bottom: 5px solid black;
}

.filter-options {
  margin-bottom: 5px;
  border-style: none;
}

.details {
  display: flex;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.details-ship {
  display: flex;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  flex-direction:column;
}

.rocket-details {
  display: flex;
  margin-left: 0.5rem;
  margin-top:1rem;
}

.lozenge-1,
.lozenge-2,
.launch-success {
 
  padding: 0.5rem 1rem;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5rem;
  font-size: 1rem;
}

.lozenge-1 {
  padding-left: 1rem;
  margin-right: 1rem;
  background-color: #9e9e9e;
}

.lozenge-2 {
  padding-left: 1rem;
  background-color: #9e9e9e;
}

.launch-success {
  padding-left:1rem;
  background-color: #9e9e9e;
  margin-left:1rem;
}

.item-details {
  padding: 1rem 4rem 3rem 0.5rem;
  font-size: 1.3rem;
  line-height: 1.9rem;
  text-align: justify;
  color: #424242;
  word-spacing: 0.2rem;
  overflow: hidden;
}

.main-and-sub-nav {
  position: relative;
}

.selected-mission {
  list-style-type: none;
}

.full-image {
  margin-bottom:2rem;
  width:100%;
}

.full-image img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  object-position: top;
}

.full-selected {
  font-family: 'Lato';
}

.full-name {
  font-weight:900;
  font-size:1.6rem;
  flex:1;
  align-self:center;
  letter-spacing:0.1rem;
}

.full-details-info {
  display:flex;
  list-style-type: none;
  justify-content: flex-end;
  margin-bottom:1.5rem;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1rem;
}

.full-details-info-lozenge {
  align-self:flex-end;
  padding:0.5rem 1rem;
  background-color: #9e9e9e;
  color: white;
}

.full-details-info-lozenge {
  margin-right:1rem;
}


.full-info-details-p {
  font-size: 1.3rem;
    line-height: 1.9rem;
    text-align: justify;
    color: #424242;
    word-spacing: 0.2rem;
} 



@media only screen and (max-width: 1368px) {
  
}